{% extends "layout.html" %}
{% block title %}Hospital{% endblock %}
{% block content %}

<div>
    <h1>Hospital Table</h1>
    <table>
        <thead>
            <tr>
                <th scope="col">Hospital ID</th>
                <th scope="col">City ID</th>
                <th scope="col">Hospital Name</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Hospital Capacity</th>
                <th scope="col">Pandemic Special</th>  
                <td scope="col"> <a href="{{ url_for('hospital_add') }} "><button type="button" class="btn btn-info">Add</button></a>
                </td>
            </tr>
        </thead>
        <tbody>
            {% for hospital in hospitals %}
            <tr>
                <td scope="col"> {{hospital[0]}} </td>
                <td scope="col"> {{hospital[1]}} </td>
                <td scope="col"> {{hospital[2]}} </td>
                <td scope="col"> {{hospital[3]}} </td>
                <td scope="col"> {{hospital[4]}} </td>
                <td scope="col"> {{hospital[5]}} </td>
    
                <script>
                    localStorage.setItem('{{hospital[0]}}', "{{hospital[5]}}");
                </script>
                
                <td scope="col"> <a href="{{ url_for('hospital_update', update = '%s'|format(hospital[0])) }} "><button
                            type="button" class="btn btn-warning">Update</button></a></td>
                <td scope="col"> <a href="{{ url_for('hospital_delete', delete = '%s'|format(hospital[0])) }} "><button
                            type="button" class="btn btn-danger">Delete</button></a></td>
            </tr>

            {% endfor %}

        </tbody>
    </table>

<h1>Hospitals That Contain Both Vaccine and Test Center</h1>
<table>
    <thead>
        <tr>

            <th scope="col">City ID</th>
            <th scope="col">Hospital Name</th>

        </tr>
    </thead>
    <tbody>
        {% for htv in htvs %}
        <tr>
            <td scope="col"> {{htv[0]}} </td>
            <td scope="col"> {{htv[1]}} </td>   
        </tr>

        {% endfor %}

    </tbody>
</table>


<h1>Hospitals That Contain Only Test Center</h1>
<table>
    <thead>
        <tr>

            <th scope="col">City ID</th>
            <th scope="col">Hospital Name</th>

        </tr>
    </thead>
    <tbody>
        {% for ehtv in ehtvs %}
        <tr>
            <td scope="col"> {{ehtv[0]}} </td>
            <td scope="col"> {{ehtv[1]}} </td>
        </tr>

        {% endfor %}

    </tbody>
</table>


<h1>Hospitals That Contain Only Vaccine Center</h1>
<table>
    <thead>
        <tr>

            <th scope="col">City ID</th>
            <th scope="col">Hospital Name</th>

        </tr>
    </thead>
    <tbody>
        {% for ehvt in ehvts %}
        <tr>
            <td scope="col"> {{ehvt[0]}} </td>
            <td scope="col"> {{ehvt[1]}} </td>
        </tr>

        {% endfor %}

    </tbody>
</table>
</div>


{% endblock %}