{% extends "layout.html" %}
{% block title %}Hospital{% endblock %}
{% block content %}



<div >
    
<h1 >Add New Hospital</h1>
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <div class="form-group">
            {{ form.city_id.label(class="form-control-label") }}
            {% if form.city_id.errors %}
                {{ form.city_id(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.city_id.errors %}
                        <span>{{  error  }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.city_id(class="form-control form-control-lg") }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.name.label(class="form-control-label") }}
            {% if form.name.errors %}
            {{ form.name(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.name.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.name(class="form-control form-control-lg") }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.telephone.label(class="form-control-label") }}
            {% if form.telephone.errors %}
            {{ form.telephone(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.telephone.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.telephone(class="form-control form-control-lg") }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.capacity.label(class="form-control-label") }}
            {% if form.capacity.errors %}
            {{ form.capacity(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.capacity.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.capacity(class="form-control form-control-lg") }}
            {% endif %}
        </div>



        <div class="form-group">
            {{ form.for_pandemic.label(class="form-control-label") }}
            {% if form.for_pandemic.errors %}
                {{ form.for_pandemic(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.for_pandemic.errors %}
                        <span>{{  error  }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.for_pandemic(class="form-control form-control-lg") }}
            {% endif %}

        </div>

    </fieldset>
    <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
    </div>
    
</form>
</div>
</div>

{% endblock %}


