{% extends "layout.html" %}
{% block title %}Hospital Update{% endblock %}
{% block content %}

<div>
    <h1>Update Hospital Table</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                <h3>{{ form.city_id.label(class="form-control-label") }}</h3>
                <h5>{{ result[1] }}</h5>
                {% if form.city_id.errors %}
                {{ form.city_id(class="form-control form-control-lg
                is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.city_id.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.city_id(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            <div class="form-group">
                <h3>{{ form.name.label(class="form-control-label") }}</h3>
                <h5>{{ result[2] }}</h5>
                {% if form.name.errors %}
                {{ form.name(class="form-control form-control-lg
                is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            <div class="form-group">
                <h3>{{ form.telephone.label(class="form-control-label") }}</h3>
                <h5>{{ result[3] }}</h5>
                {% if form.telephone.errors %}
                {{ form.telephone(class="form-control form-control-lg
                is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.telephone.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.telephone(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            <div class="form-group">
                <h3>{{ form.capacity.label(class="form-control-label")}}</h3>

                <h5>{{ result[4] }}</h5>
                {% if form.capacity.errors %}
                {{ form.capacity(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.capacity.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.capacity(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            <div class="form-group">
                <h3>{{ form.for_pandemic.label(class="form-control-label")}}</h3>

                <h5>{{ result[5] }}</h5>
                {% if form.for_pandemic.errors %}
                {{ form.for_pandemic(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.for_pandemic.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.for_pandemic(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            
        </fieldset>




    </form>


</div>


{% endblock %}