{% extends "layout.html" %}
{% block title %}Patient{% endblock %}
{% block content %}



<div>
    
    <h1 >Add New Patient</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.test_center_id.label(class="form-control-label") }}
                {% if form.test_center_id.errors %}
                {{ form.test_center_id(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.test_center_id.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.test_center_id(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.vaccine_center_id.label(class="form-control-label") }}
                {% if form.vaccine_center_id.errors %}
                {{ form.vaccine_center_id(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.vaccine_center_id.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.vaccine_center_id(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {% if form.name.errors %}
                {{ form.name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.name(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.surname.label(class="form-control-label") }}
                {% if form.surname.errors %}
                {{ form.surname(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.surname.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.surname(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.age.label(class="form-control-label") }}
                {% if form.age.errors %}
                {{ form.age(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.age.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.age(class="form-control form-control-lg") }}
                {% endif %}
            </div>



            <div class="form-group">
                {{ form.sex.label(class="form-control-label") }}
                {% if form.sex.errors %}
                {{ form.sex(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.sex.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.sex(class="form-control form-control-lg") }}
                {% endif %}

            </div>
            <div class="form-group">
                {{ form.test_status.label(class="form-control-label") }}
                {% if form.test_status.errors %}
                {{ form.test_status(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.test_status.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.test_status(class="form-control form-control-lg") }}
                {% endif %}
            
            </div>
            <div class="form-group">
                {{ form.vaccine_status.label(class="form-control-label") }}
                {% if form.vaccine_status.errors %}
                {{ form.vaccine_status(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.vaccine_status.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.vaccine_status(class="form-control form-control-lg") }}
                {% endif %}
            
            </div>

        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>

    </form>
</div>
</div>

{% endblock %}