{% extends "layout.html" %}
{% block title %}Patient{% endblock %}
{% block content %}

<div>
   
    <h1>Patient Table</h1>
    <table>
        <thead>
            <tr>
                <th scope="col">Patient ID</th>
                <th scope="col">Test Center ID</th>
                <th scope="col">Vaccine Center ID</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Age</th>
                <th scope="col">Sex</th>
                <th scope="col">Test Status</th>
                <th scope="col">Vaccine Status</th>
                <td scope="col"> <a href="{{ url_for('patient_add') }} "><button type="button" class="btn btn-info">Add</button></a>
                </td>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
            <tr>
                <td scope="col"> {{patient[0]}} </td>
                <td scope="col"> {{patient[1]}} </td>
                <td scope="col"> {{patient[2]}} </td>
                <td scope="col"> {{patient[3]}} </td>
                <td scope="col"> {{patient[4]}} </td>
                <td scope="col"> {{patient[5]}} </td>
                <td scope="col"> {{patient[6]}} </td>
                <td scope="col"> {{patient[7]}} </td>
                <td scope="col"> {{patient[8]}} </td>

                <script>
                    localStorage.setItem('{{patient[0]}}', "{{patient[8]}}");
                </script>

                <td scope="col"> <a href="{{ url_for('patient_update', update = '%s'|format(patient[0])) }} "><button
                            type="button" class="btn btn-warning">Update</button></a></td>
                <td scope="col"> <a href="{{ url_for('patient_delete', delete = '%s'|format(patient[0])) }} "><button
                            type="button" class="btn btn-danger">Delete</button></a></td>
            </tr>

            {% endfor %}

        </tbody>
    </table>


</div>


{% endblock %}