{% extends "layout.html" %}
{% block title %}Update Patient{% endblock %}
{% block content %}



<div>
    
    <h1>Update Patient Table</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                <h3>{{ form.test_center_id.label(class="form-control-label") }}</h3>
                <h5>{{ result[1] }}</h5>
                {% if form.test_center_id.errors %}
                {{ form.test_center_id(class="form-control form-control-lg
                is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.test_center_id.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.test_center_id(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            <div class="form-group">
                <h3>{{ form.vaccine_center_id.label(class="form-control-label") }}</h3>
                <h5>{{ result[2] }}</h5>
                {% if form.vaccine_center_id.errors %}
                {{ form.vaccine_center_id(class="form-control form-control-lg
                is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.vaccine_center_id.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.vaccine_center_id(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>



            <div class="form-group">
                <h3>{{ form.name.label(class="form-control-label") }}</h3>
                <h5>{{ result[3] }}</h5>
                {% if form.name.errors %}
                {{ form.name(class="form-control form-control-lg
                is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            <div class="form-group">
                <h3>{{ form.surname.label(class="form-control-label")}}</h3>

                <h5>{{ result[4] }}</h5>
                {% if form.surname.errors %}
                {{ form.surname(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.surname.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.surname(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>


            <div class="form-group">
                <h3>{{ form.age.label(class="form-control-label")}}</h3>

                <h5>{{ result[5] }}</h5>
                {% if form.age.errors %}
                {{ form.age(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.age.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.age(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>

            <div class="form-group">
                <h3>{{ form.sex.label(class="form-control-label")}}</h3>
            
                <h5>{{ result[6] }}</h5>
                {% if form.sex.errors %}
                {{ form.sex(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.sex.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.sex(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>

            <div class="form-group">
                <h3>{{ form.test_status.label(class="form-control-label")}}</h3>
            
                <h5>{{ result[7] }}</h5>
                {% if form.test_status.errors %}
                {{ form.test_status(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.test_status.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.test_status(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>

            <div class="form-group">
                <h3>{{ form.vaccine_status.label(class="form-control-label")}}</h3>
            
                <h5>{{ result[8] }}</h5>
                {% if form.vaccine_status.errors %}
                {{ form.vaccine_status(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.vaccine_status.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.vaccine_status(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>

        </fieldset>




    </form>


</div>


{% endblock %}