{% extends "layout.html" %}
{% block title %}Test Center{% endblock %}
{% block content %}

<div>
    <h1>Test Center Table</h1>
    <table>
        <thead>
            <tr>
                <th scope="col">Test Center ID</th>
                <th scope="col">Hospital ID</th>
                <th scope="col">Test Stock</th>
                <th scope="col">#Personnel</th>

                <td scope="col"> <a href="{{ url_for('test_add') }} "><button type="button" class="btn btn-info">Add</button></a>
                </td>
            </tr>
        </thead>
        <tbody>
            {% for test in tests %}
            <tr>
                <td scope="col"> {{test[0]}} </td>
                <td scope="col"> {{test[1]}} </td>
                <td scope="col"> {{test[2]}} </td>
                <td scope="col"> {{test[3]}} </td>

                <script>
                    localStorage.setItem('{{test[0]}}', "{{test[3]}}");
                </script>

                <td scope="col"> <a href="{{ url_for('test_update', update = '%s'|format(test[0])) }} "><button
                            type="button" class="btn btn-warning">Update</button></a></td>
                <td scope="col"> <a href="{{ url_for('test_delete', delete = '%s'|format(test[0])) }} "><button
                            type="button" class="btn btn-danger">Delete</button></a></td>
            </tr>

            {% endfor %}

        </tbody>
    </table>


<h1 >Test Center-Hospital Table</h1>
    <table>
        <thead>
            <tr>
                <th scope="col">City ID</th>
                <th scope="col">Hospital Name</th>
                <th scope="col">Test Stock</th>
                <th scope="col">#Personnel</th>
    
                <th scope="col"> </th>
                <th scope="col"> </th>

            </tr>
        </thead>
        <tbody>
            {% for test_hosp in test_hospital %}
            <tr>
                <td scope="col"> {{test_hosp[0]}} </td>
                <td scope="col"> {{test_hosp[1]}} </td>
                <td scope="col"> {{test_hosp[2]}} </td>
                <td scope="col"> {{test_hosp[3]}} </td>
    
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}