{% extends "layout.html" %}
{% block title %}Edit Vaccine Center{% endblock %}
{% block content %}


<div >
 
    <h1>Add New Vaccine Center</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.hospital_id.label(class="form-control-label") }}
                {% if form.hospital_id.errors %}
                {{ form.hospital_id(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.hospital_id.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.hospital_id(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.vaccine_stock.label(class="form-control-label") }}
                {% if form.vaccine_stock.errors %}
                {{ form.vaccine_stock(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.vaccine_stock.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.vaccine_stock(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.personnel_number.label(class="form-control-label") }}
                {% if form.personnel_number.errors %}
                {{ form.personnel_number(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.personnel_number.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.personnel_number(class="form-control form-control-lg") }}
                {% endif %}
            </div>



        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>

    </form>
</div>
</div>

{% endblock %}